* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  min-width: 600px;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.container h1 {
  width: 96.5%;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  color: #023047;
  text-transform: uppercase;
  box-shadow: #11111a0d 0px 1px 0px, #11111a1a 0px 0px 8px;
}
.container .colorBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.container .colorBox > .box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 1px 3px 1px;
  position: relative;
}

.container .colorBox > .box > h3 {
  padding: 10px;
  color: #264653;
}

.container .colorBox > .box > p {
  width: 180px;
  padding: 10px;
  text-align: center;
  font-weight: 800;
  font-family: cursive;
  border: none;
  border-radius: 4px;
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.container .colorBox > .box > .btnBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 10px;
}

.container .colorBox > .box > .btnBox > button {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  width: 100px;
  border-radius: 4px;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
  text-transform: uppercase;
  color: #f1faee;
}

#rgbStop,
#hexStop {
  background-color: #8cb369;
}
#rgbStart,
#hexStart {
  background-color: #e63946;
}
#rgbCopy,
#hexCopy {
  background-color: #1d3557;
}

.container .colorBox > .box > span {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 5px;
  bottom: 8px;
}

.container .colorBox > .box #hexSpan {
  background-color: #232323;
}

.container .colorBox > .box #rgbSpan {
  background-color: rgb(225, 225, 225);
}

/* Responsive CSS Code */
@media screen and (width < 426px) {
  body {
    height: auto;
  }
  .container {
    width: 100%;
    height: auto;
  }
  .container h1 {
    width: 220px;
    font-size: 1em;
  }
  .container .colorBox {
    height: 100%;
    flex-direction: column;
  }
  .container .colorBox > .box {
    width: 90vw;
    height: 50%;
    align-self: center;
  }
}
